    #about
    {
        background-color: black;
        
    }

    #download{
        padding-top: 0;
    }
    .content-section
    {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #location
    {
        margin-top: 45px;
        color:rgb(122, 118, 118);
    }
    
    .intro-body
    {
        background-color: rgba(0,0,0,0.6)
    }

    #arrow{
        font-size:50px;
        border:1px solid white;
        padding:1px 12px;
        border-radius:40px;

    }
    .page-scroll:hover a
    {
        color:#FFF;
    } 
    .table-condensed{
        border-radius:10px;
    }

    #map-canvas
    {
        width: 100%;
        height: 600px;
        float:left;
    }

    .navbar-brand{
        padding:0px !important;
    }
     
    #real-empire-image{
        width: 400px;
          }

    .navbar-custom{
        /*padding-top: 0px;*/
    }


   input.btn.btn-lg, input.btn.btn-lg:focus {
    outline: none;
    width: 60%;
    height: 40px !important;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: rgba(255,255,255,0.1) !important;
    /*border: 1px solid  #46b8da;*/
    border: 1px solid rgba(255,255,255,.5) !important;
    color: white !important;
    cursor: text;
}

#email:-webkit-input-placeholder {
   color: rgba(255,255,255,0.1) !important;

}

input.btn.btn-lg:-moz-placeholder { /* Firefox 18- */
   color: rgba(255,255,255,0.6) !important;
}

input.btn.btn-lg::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(255,255,255,0.6) !important;
}

input.btn.btn-lg:-ms-input-placeholder {  
   color: rgba(255,255,255,0.6) !important;
}

button.btn {
    width: 40%;
    height: 40px !important;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: rgba(255,255,255,0.5) !important;
    border-right: 1px solid rgba(255,255,255,.5) !important;
    border-bottom: 1px solid rgba(255,255,255,.5) !important;
    border-top: 1px solid rgba(255,255,255,.5) !important;
    border-left:none;

}

.input-group {
    margin: 2px auto !important;
    width: 100%;
}



.nav.navbar-nav{
   display: block !important;
    width: 30% !important;
    margin: 0 auto;
    float: none !important;
}

.navbar-main-collapse{
    display: block !important;
    float: none !important;
    display: inline-block !important;
    width: 100% !important;
    margin-right: none;
    margin-left: none; 
}


.timer_box{
    margin: 10px 5px;
    display: inline-block;
    padding: 0px 10px 9px 10px;
    text-align: center;
    width: 117px;
    border-radius: 50%;
    border: 4px solid rgba(255, 255, 255, .6);
}

.timer_box>h2{
    margin-bottom: 0;
}

#first-container{
    padding-top: 50px;
}

.social{
    /*padding: 10px 15px;*/
    padding-top: 7px;
    width: 40px;   
    height: 36px;
    border: solid 1px rgba(255,255,255,0.2);
    font-size: 1.5em;
    margin: 5px 10px;
    -webkit-transition: .25s ease;
       -moz-transition: .25s  ease;
        -ms-transition: .25s  ease;
         -o-transition: .25s  ease;
            transition: .25s  ease;
}

.btn-success.outline {
    border: 2px solid #00bf6f;
    color: #00bf6f;
    
}

.social:hover{
    color: black;
    background-color: rgba(255,255,255,0.8);
}

#social-media>a{
    color:white;
    text-decoration: none;
}



#social-media>a:hover{
    color:white;
    text-decoration: none;
}

#social-media>a:active{
    color:white;
    text-decoration: none;
}
#social-media>a:link{
    color:white;
    text-decoration: none;
}

#subscribe-btn{
    -webkit-transition: .25s ease;
       -moz-transition: .25s  ease;
        -ms-transition: .25s  ease;
         -o-transition: .25s  ease;
            transition: .25s  ease;
}

#subscribe-btn:hover{
    background-color: rgba(255,255,255,0.8) !important;
    color:black;
}