{% extends 'base.html' %}
{% load static %}

{% block title %}{% endblock %}

{% block extra_head %}
	<link rel="stylesheet" href="{% static 'css/landing.css' %}">
{% endblock %}

{% block content %}
	<section>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<!-- START HEADER -->
	    <section id="header">
	        <div class="container">
	            <header>
	                <!-- HEADLINE -->
	                <h1 data-animated="GoIn"><b>COUNTER</b> site is coming soon...</h1>
	            </header>
	            <!-- START TIMER -->
	            <div id="timer" data-animated="FadeIn">
	                <p id="message"></p>
	                <div id="days" class="timer_box"></div>
	                <div id="hours" class="timer_box"></div>
	                <div id="minutes" class="timer_box"></div>
	                <div id="seconds" class="timer_box"></div>
	            </div>
	            <!-- END TIMER -->
	            <div class="row">
		            <div class="col-lg-12 mt text-center">
		            	<h4>LET ME KNOW WHEN YOU LAUNCH</h4>
						
							<div class="col-md-6 col-md-offset-3">
						    	 <div class="well">
						             <form action="{% url 'landing' %}" method="post">
						            	{% csrf_token %}
						              <div class="input-group">
						                 <input class="btn btn-lg" name="email" id="email" type="email" placeholder="Your Email" required>
						                 <button class="btn btn-info btn-lg" type="submit">Submit</button>
						              </div>
						             </form>
						    	 </div>
							</div>
						</div>
					</div>
				</div>
	            
	        </div>

				<section>
					<div class="container">
						
					</div>
				</section>
	    </section>
	    <!-- END HEADER -->



{% endblock %}


{% block extra_bottom %}
	<script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js'%}"></script>
	<script type="text/javascript" src="{% static 'js/landing/custom.js'%}"></script>
{% endblock %}