{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}
	| {% blocktrans %}Clases y Horarios{% endblocktrans %}
{% endblock title %}

{% block meta_description %}
  <meta name="description" content="Clases, horarios y maestros que ofrece la Academia Real Empire Studio.">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2" id="first-container">
             <h1>{% blocktrans %}Clases y Horarios{% endblocktrans %}</h1>

            <div class="container">
                <div class="row">
                  <div class="col-md-8">
                    {% if monday_list %}
                      <h2 class="text-left"><strong>{% blocktrans %}Lunes{% endblocktrans %}</strong></h2>
                      <h4>
                        <table class="table text-left">
                          <thead>
                            <tr>
                              <th>{% blocktrans %}Horarios{% endblocktrans %}</th>
                              <th>{% blocktrans %}Clases{% endblocktrans %}</th>
                              <th>{% blocktrans %}Maestros{% endblocktrans %}</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for course in monday_list %}
                              <tr>
                                <td>{{ course.start_time|date:'g:iA' }}-{{ course.end_time|date:'g:iA' }}</td>
                                <td>{{ course.name }}</td>
                                <td>
                                  {% if course.teacher_set.all %}
                                    {% for teacher in course.teacher_set.all %}
                                      {{ teacher }}{% if not forloop.last %} - {% endif %}
                                    {% endfor %}
                                  {% else %}
                                    {% blocktrans %}Se anunciara{% endblocktrans %}
                                  {% endif %}
                                </td>
                                <td></td>
                              </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                      </h4>
                    {% endif %}

                    {% if tuesday_list %}
                      <h2 class="text-left"><strong>{% blocktrans %}Martes{% endblocktrans %}</strong></h2>
                      <h4>
                        <table class="table text-left">
                          <thead>
                            <tr>
                              <th>{% blocktrans %}Horarios{% endblocktrans %}</th>
                              <th>{% blocktrans %}Clases{% endblocktrans %}</th>
                              <th>{% blocktrans %}Maestros{% endblocktrans %}</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for course in tuesday_list %}
                              <tr>
                                <td>{{ course.start_time|date:'g:iA' }}-{{ course.end_time|date:'g:iA' }}</td>
                                <td>{{ course.name }}</td>
                                <td>
                                  {% if course.teacher_set.all %}
                                    {% for teacher in course.teacher_set.all %}
                                      {{ teacher }}{% if not forloop.last %} - {% endif %}
                                    {% endfor %}
                                  {% else %}
                                    {% blocktrans %}Se anunciara{% endblocktrans %}
                                  {% endif %}
                                </td>
                              </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                      </h4>
                    {% endif %}

                    {% if wednesday_list %}
                      <h2 class="text-left"><strong>{% blocktrans %}Miercoles{% endblocktrans %}</strong></h2>
                      <h4>
                        <table class="table text-left">
                          <thead>
                            <tr>
                              <th>{% blocktrans %}Horarios{% endblocktrans %}</th>
                              <th>{% blocktrans %}Clases{% endblocktrans %}</th>
                              <th>{% blocktrans %}Maestros{% endblocktrans %}</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for course in wednesday_list %}
                              <tr>
                                <td>{{ course.start_time|date:'g:iA' }}-{{ course.end_time|date:'g:iA' }}</td>
                                <td>{{ course.name }}</td>
                                <td>
                                  {% if course.teacher_set.all %}
                                    {% for teacher in course.teacher_set.all %}
                                      {{ teacher }}{% if not forloop.last %} - {% endif %}
                                    {% endfor %}
                                  {% else %}
                                    {% blocktrans %}Se anunciara{% endblocktrans %}
                                  {% endif %}
                                </td>
                              </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                      </h4>
                    {% endif %}

                    {% if thursday_list %}
                      <h2 class="text-left"><strong>{% blocktrans %}Jueves{% endblocktrans %}</strong></h2>
                      <h4>
                        <table class="table text-left">
                          <thead>
                            <tr>
                              <th>{% blocktrans %}Horarios{% endblocktrans %}</th>
                              <th>{% blocktrans %}Clases{% endblocktrans %}</th>
                              <th>{% blocktrans %}Maestros{% endblocktrans %}</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for course in thursday_list %}
                              <tr>
                                <td>{{ course.start_time|date:'g:iA' }}-{{ course.end_time|date:'g:iA' }}</td>
                                <td>{{ course.name }}</td>
                                <td>
                                  {% if course.teacher_set.all %}
                                    {% for teacher in course.teacher_set.all %}
                                      {{ teacher }}{% if not forloop.last %} - {% endif %}
                                    {% endfor %}
                                  {% else %}
                                    {% blocktrans %}Se anunciara{% endblocktrans %}
                                  {% endif %}
                                </td>
                              </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                      </h4>
                    {% endif %}

                    {% if friday_list %}
                      <h2 class="text-left"><strong>{% blocktrans %}Viernes{% endblocktrans %}</strong></h2>
                      <h4>
                        <table class="table text-left">
                          <thead>
                            <tr>
                              <th>{% blocktrans %}Horarios{% endblocktrans %}</th>
                              <th>{% blocktrans %}Clases{% endblocktrans %}</th>
                              <th>{% blocktrans %}Maestros{% endblocktrans %}</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for course in friday_list %}
                              <tr>
                                <td>{{ course.start_time|date:'g:iA' }}-{{ course.end_time|date:'g:iA' }}</td>
                                <td>{{ course.name }}</td>
                                <td>
                                  {% if course.teacher_set.all %}
                                    {% for teacher in course.teacher_set.all %}
                                      {{ teacher }}{% if not forloop.last %} - {% endif %}
                                    {% endfor %}
                                  {% else %}
                                    {% blocktrans %}Se anunciara{% endblocktrans %}
                                  {% endif %}
                                </td>
                              </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                      </h4>
                    {% endif %}

                    {% if saturday_list %}
                      <h2 class="text-left"><strong>{% blocktrans %}Sabado{% endblocktrans %}</strong></h2>
                      <h4>
                        <table class="table text-left">
                          <thead>
                            <tr>
                              <th>{% blocktrans %}Horarios{% endblocktrans %}</th>
                              <th>{% blocktrans %}Clases{% endblocktrans %}</th>
                              <th>{% blocktrans %}Maestros{% endblocktrans %}</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for course in saturday_list %}
                              <tr>
                                <td>{{ course.start_time|date:'g:iA' }}-{{ course.end_time|date:'g:iA' }}</td>
                                <td>{{ course.name }}</td>
                                <td>
                                  {% if course.teacher_set.all %}
                                    {% for teacher in course.teacher_set.all %}
                                      {{ teacher }}{% if not forloop.last %} - {% endif %}
                                    {% endfor %}
                                  {% else %}
                                    {% blocktrans %}Se anunciara{% endblocktrans %}
                                  {% endif %}
                                </td>
                              </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                      </h4>
                    {% endif %}
                  </div>
                </div>
            </div>
            <br>
          </div>
        </div>
    </div>
{% endblock content %}
