{% extends "base.html" %}
{% load static %}

{% block title %}
  | Precios
{% endblock title %}

{% block meta_description %}
   <meta name="description" content="Precios que ofrece la academia Real Empire Studio, esta academia cuenta con maestros especializados en diferentes estilos.">
{% endblock %}

{% block content %}

  <div class="row">
      <div class="col-md-8 col-md-offset-2" id="first-container">
        <img id="real-empire-image" src="{% static "img/realempire2.png" %}" alt="Real-Empire-Studio-Logo" />
        <h1>Precios</h1>
    </div>
  </div>

  <div class="container">
    <div class="row">
       <div class="price col-xs-6 col-sm-6 col-md-3 col-lg-3">
        
          <!-- PRICE ITEM -->
          <div class="panel price panel-green">
            <div class="panel-heading arrow_box text-center">
            <h3>Matrícula Anual Niños</h3>
            </div>
            <div class="panel-body text-center">
              <p class="lead" style="font-size:40px"><strong>$40</strong></p>
            </div>
            <ul class="list-group list-group-flush text-center">
              <li class="list-group-item go-down"><i class="icon-ok text-success"></i> Duración de un año</li>
              <li class="list-group-item go-down"><i class="icon-ok text-success"></i> ¡Podras Comprar Paquetes de Clases!</li>
              <li class="list-group-item go-down"><i class="icon-ok text-success"></i> ¡Gratis durante el año 2015!</li>
            </ul>
            <!-- Comment -->
            <div class="panel-footer">
              <a class="btn btn-lg btn-block btn-success" href="tel:7879404981">Contactanos <br>(787) 940-4981</a>
            </div>
          </div>
          <!-- /PRICE ITEM -->
          
          
        </div>

          <div class="price col-xs-6 col-sm-6 col-md-3 col-lg-3">
        
          <!-- PRICE ITEM -->
          <div class="panel price panel-red">
            <div class="panel-heading  text-center">
            <h3>Matrícula Anual Adultos</h3>
            </div>
            <div class="panel-body text-center">
              <p class="lead" style="font-size:40px"><strong>$50</strong></p>
            </div>
          <ul class="list-group list-group-flush text-center">
              <li class="list-group-item go-down"><i class="icon-ok text-success "></i> Duración de un año </li>
              <li class="list-group-item go-down"><i class="icon-ok text-success "></i> Podras Comprar Paquetes de Clases!</li>
              <li class="list-group-item go-down"><i class="icon-ok text-success"></i> ¡Gratis durante el año 2015!</li>
            </ul>
            <div class="panel-footer">
              <a class="btn btn-lg btn-block btn-danger" href="tel:7879404981">Contactanos <br>(787) 940-4981</a>
            </div>
          </div>
          <!-- /PRICE ITEM -->
          
          
        </div>    

        
        <div class="price col-xs-6 col-sm-6 col-md-3 col-lg-3">
        
          <!-- PRICE ITEM -->
          <div class="panel price panel-blue">
            <div class="panel-heading arrow_box text-center">
            <h3>Paquetes de Clases</h3>
            </div>
            <div class="panel-body text-center month-class">
              <p class="lead" style="font-size:35px"><strong>Al Mes</strong></p>
            </div>
            <ul class="list-group list-group-flush text-center">
            
      <!-- • 16 clases - $120. Pagas al costo de 12 clases (*Tienes 4 clases gratis).<br> -->
              <li class="list-group-item"><i class="icon-ok text-info"></i> 4 clases - $35.00</li>
              <li class="list-group-item"><i class="icon-ok text-info"></i> 9 clases - $75.00</li>
              <li class="list-group-item"><i class="icon-ok text-info"></i> 12 clases - $100 <!-- <br>Pagas al costo de 10 clases --> <!-- (*Tienes 2 clases gratis) --></li>
              <li class="list-group-item"><i class="icon-ok text-info"></i> 16 clases - $120. <!-- <br>Pagas al costo de 12 clases --> <!-- (*Tienes 4 clases gratis) --></li>
            </ul>
            <div class="panel-footer">
              <a class="btn btn-lg btn-block btn-info" href="tel:7879404981">Contactanos<br>(787) 940-4981</a>
            </div>
          </div>
          <!-- /PRICE ITEM -->
        </div>

        <div class=" price col-xs-6 col-sm-6 col-md-3 col-lg-3">
        
          <!-- PRICE ITEM -->
          <div class="panel price panel-grey">
            <div class="panel-heading arrow_box text-center">
            <h3>Clases Regulares <br><br></h3>
            </div>
            <div class="panel-body text-center">
              <p class="lead" style="font-size:40px"><strong>$10 a $12</strong></p>
            </div>
            <ul class="list-group list-group-flush text-center">
              <li class="list-group-item go-down"><i class="icon-ok text-success"></i> $10 con matricula</li>
              <li class="list-group-item go-down-more"><i class="icon-ok text-success"></i> $12 sin matricula </li>
            </ul>
            <div class="panel-footer">
              <a class="btn btn-lg btn-block btn-primary" href="tel:7879404981">Contactanos <br>(787) 940-4981</a>
            </div>
          </div>
        </div>
      </div>          
  </div>
{% endblock content %}
