{% extends "base.html" %}
{% load static %}

{% block title %}
	Maestro - {{ teacher.name }}
{% endblock title %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/teachers.css'%}">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock extra_head %}

{% block meta_description %}
  <meta name="description" content="Horarios, clases y maestros que ofrece la Academia de baile Real Empire Studio Puerto Rico Bayamón, esta academia cuenta con maestros y coreógrafos especializados en diferentes estilos.">
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2" id="first-container">
      <!-- <h3 class="brand-heading">Real Empire Studio</h3> -->
      <img id="real-empire-image" src="{% static "img/realempire2.png" %}" alt="" />

      <h2 class="intro-text">Maestro</h2>

      <section>
         <div class="col-xs-10 col-xs-offset-1">
            <div class="panel panel-default panel-card">
              <div class="panel-heading">
                  <img src="https://unsplash.imgix.net/12/barley.jpg?q=75&fm=jpg&s=f39de5ca1970a13dbe6af6c86b3c47ec" />
                  <!--<button class="btn btn-primary btn-sm" role="button"></button>-->
              </div>
              <div class="panel-figure">
                  <img class="img-responsive img-circle" src="{% static 'img/jaykob.jpg' %}" />
              </div>
              <div class="panel-body">
                  <h3 class="panel-header text-center"><strong>{{ teacher.name }}</strong></h3>
                  <div class="panel-body-text text-left">
                    <p>{{ teacher.biography|safe }}</p>
                  </div>
              </div>
              <div class="text-center center-block social-box row">
                  {% if teacher.facebook %}
                    <div class="col-xs-4">
                      <a href="{{ teacher.facebook }}" target="_blank"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
                    </div>
                  {% endif %}
                  {% if teacher.twitter %}
                    <div class="col-xs-4">
                      <a href="{{ teacher.twitter }}" target="_blank"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
                    </div>
                  {% endif %}
                  {% if teacher.googleplus %}
                    <div class="col-xs-4">                  
                      <a href="{{ teacher.googleplus }}" target="_blank"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
                    </div>
                  {% endif %}
              </div>
            </div>   
          </div>  
        </section>
      </div>
  </div>
{% endblock content %}

{% block extra_bottom %}
  <script>
    $(document).ready(function() {
      $(".btn-pref .btn").click(function () {
          $(".btn-pref .btn").removeClass("btn-primary").addClass("btn-default");
          // $(".tab").addClass("active"); // instead of this do the below 
          $(this).removeClass("btn-default").addClass("btn-primary");   
      });
    });
  </script>
{% endblock extra_bottom %}
