{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}
	| {% blocktrans %}Teacher{% endblocktrans %} - {{ teacher.name }}
{% endblock title %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/teachers.css'%}">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock extra_head %}

{% block meta_description %}
  <meta name="description" content="Mestros de la Academia de baile Real Empire Studio Puerto Rico Bayamón, esta academia cuenta con maestros y coreógrafos especializados en diferentes estilos.">
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2" id="first-container">
      <h1 class="intro-text">{% blocktrans %}Maestro{% endblocktrans %}</h1>

      <section>
         <div class="col-xs-12">
            <div class="panel panel-default panel-card">
              <div class="panel-heading">
                  <img src="{% static 'img/empire-state-building-bg.jpg' %}" alt="Background for {{ teacher.name }}" />
                  <!--<button class="btn btn-primary btn-sm" role="button"></button>-->
              </div>
              <div class="panel-figure">
                  <img class="img-responsive img-circle" src="{{ teacher.image_medium.url }}" alt="{{ teacher.name }} Potrait" />
              </div>
              <div class="panel-body">
                  <h3 class="panel-header text-center"><strong>{{ teacher.name }}</strong></h3>
                  <div class="panel-body-text text-left">
                    <p>{{ teacher.biography|safe }}</p>
                  </div>
              </div>
              <div class="text-center center-block social-box row">
                  {% if teacher.facebook %}
                    <div class="col-xs-3">
                      <a href="{{ teacher.facebook }}" target="_blank"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
                    </div>
                  {% endif %}
                  {% if teacher.twitter %}
                    <div class="col-xs-3">
                      <a href="{{ teacher.twitter }}" target="_blank"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
                    </div>
                  {% endif %}
                  {% if teacher.google_plus %}
                    <div class="col-xs-3">
                      <a href="{{ teacher.google_plus }}" target="_blank"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
                    </div>
                  {% endif %}
                  {% if teacher.instagram %}
                    <div class="col-xs-3">
                      <a href="{{ teacher.instagram }}" target="_blank"><i id="social-i" class="fa fa-instagram fa-3x social"></i></a>
                    </div>
                  {% endif %}
              </div>
            </div>
          </div>
        </section>
      </div>
  </div>
{% endblock content %}
