{% extends "base.html" %}
{% load static %}

{% block title %}
	| Clases
{% endblock title %}

{% block meta_description %}
  <meta name="description" content="Horarios, clases y maestros que ofrece la Academia Real Empire Studio.">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2" id="first-container">
            <!-- <h3 class="brand-heading">Real Empire Studio</h3> -->
            <img id="real-empire-image" src="{% static "img/realempire2.png" %}" alt="Real-Empire-Studio-Logo" />

            <h1 class="intro-text">Maestros</h1>

            <div class="row teachers-box">
              {% for teacher in teachers %}
                <div class="col-xs-12 col-sm-4">
									{% if teacher.biography %}
                  	<a href="{% url 'teachers:teachers_detail' teacher.slug %}" style="color: white">
											<img src="{{ teacher.image_medium.url }}" alt="{{ teacher.name }} Potrait" class="img-responsive img-circle text-center">
	                    <h5 style="font-family: 'Jura', sans-serif;"><span>Maestro: </span>{{ teacher.name }}</h5>
	                  </a>
									{% else %}
										<p>
											<img src="{{ teacher.image_medium.url }}" alt="{{ teacher.name }} Potrait" class="img-responsive img-circle text-center">
											<h5 style="font-family: 'Jura', sans-serif;"><span>Maestro: </span>{{ teacher.name }}</h5>
										</p>
									{% endif %}

                  <h5 style="font-family: 'Jura', sans-serif;">
                    {% if teacher.course.all %}
                      <span>Clase{{ teacher.course.all|pluralize }}: </span>
                      {% for course in teacher.course.all %}<span class="label label-primary">{{ course }}</span>{% if not forloop.last %} - {% endif %}{% endfor %}
                    {% else %}
                      <span>Clase:</span> Por anunciar.
                    {% endif %}
                  </h5>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
    </div>
{% endblock content %}
