{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="row">
      <div class="col-md-8 col-md-offset-2" id="first-container" style="padding-top: 70px;">
 

        <h1>404</h1>
        <h2 class="font-light">Disculpe, su pagina no fue encontrada.</h2><br>

        </div>
      </div>
    <br/>
    <br/>
    <br/>
{% endblock content %}

{% block extra_bottom %}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
{% endblock %}
