{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="row">
      <div class="col-md-8 col-md-offset-2" id="first-container" style="padding-top: 70px;">
 

        <h1 class="generic-error">500</h1>
        <h2 class="font-light">Disculpe los inconveniente, but the requested page is unavailable due to a server hiccup. pero la pagina que trato de accesar no esta disponible por problemas con el servidor.</h2><br>

        </div>
      </div>
    <br/>
    <br/>
    <br/>
{% endblock content %}

{% block extra_bottom %}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
{% endblock %}
