<!DOCTYPE html>
{% load static %}

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Empire {% block title %} {% endblock %}</title>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">

		<meta property="og:site_name" content="Wines"/>
	    <meta property="og:description" content="{% block description %}{% endblock %}"/>
	    <meta property="og:type" content="article"/>
	    <meta property="og:image" content="{% static "" %}"/>
		
		{% block extra_head %}
	        <meta property="og:title" content=""/>
	        <meta property="og:url" content="https://.com/"/>
	    {% endblock %}
	</head>
	<body>
		{% block header %}
			<header>
				<nav></nav>
			</header>
		{% endblock %}

		{% block content %}{% endblock %}

		{% block footer %}
			<footer></footer>
		{% endblock %}

		{% block js %}{% endblock %}

		{% block extra_bottom %}{% endblock %}
	</body>
</html>