{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="google-site-verification" content="yuSvOOuW4FeMborHvXsLkYWK2gfh6YnSQ1X3RoeK394" />
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta name="description" content="Academia de baile en Bayamón que cuenta con maestros y coreógrafos especializados en diferentes estilos.  Ofreciendo desarrollar tus talentos al máximo en un ambiente profesional y familiar">
     <meta name="Keywords" content="puertorico,bayamon,academia,baile,jazz,hiphop,hiphopkids,niños,student,masterclass,breakdance,funk,bailarines,bayamon,guaynabo,vegaalta,sanjuan,pr" />
    <title>Real Empire Studio | Academia de Baile | {% block title %}{% endblock title %}</title>

    <!-- Bootstrap Core CSS -->
     <link rel="shortcut icon" href="">
    <!-- Fonts -->
    <link href="/static/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Jura' rel='stylesheet' type='text/css'>
    <!-- Custom Theme CSS -->
    <link href="/static/css/grayscale.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/geo_tire.css">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/landing.css' %}">

    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'img/favicon/apple-touch-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'img/favicon/apple-touch-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/favicon/apple-touch-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/favicon/apple-touch-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/favicon/apple-touch-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/favicon/apple-touch-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'img/favicon/apple-touch-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/favicon/apple-touch-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon/apple-touch-icon-180x180.png' %}">
    <link rel="icon" type="image/png" href="{% static 'img/favicon/favicon-32x32.png' %}" sizes="32x32">
    <link rel="icon" type="image/png" href="{% static 'img/favicon/android-chrome-192x192.png' %}" sizes="192x192">
    <link rel="icon" type="image/png" href="{% static 'img/favicon/favicon-96x96.png' %}" sizes="96x96">
    <link rel="icon" type="image/png" href="{% static 'img/favicon/favicon-16x16.png' %}" sizes="16x16">
    <link rel="manifest" href="{% static 'img/favicon/manifest.json' %}">
    {# <meta name="msapplication-TileColor" content="#da532c"> #}
    <meta name="msapplication-TileImage" content="{% static 'img/favicon/mstile-144x144.png' %}">
    {# <meta name="theme-color" content="#ffffff"> #}
</head>


<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    {% block header %}

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
                <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll no-border" href="#page-top">
                    <img id="real-empire-image-mobile" src="{% static "img/realempire2.png" %}" alt="" />
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse"> 
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>
                        <li class="page-scroll">
                            <a href="{% url 'landing' %}">Pagina Principal</a>
                        </li>
                        <li class="page-scroll">
                            <a href="{% url 'class' %}">Clases y Maestros</a>
                        </li>
                          <li class="page-scroll">
                            <a href="{% url 'price' %}">Precios</a>
                        </li>
                        <li class="page-scroll">
                            <a href="{% url 'contact' %}">Contactanos</a>
                        </li>

                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
    {% endblock header %}
    <section class="intro" >
        <div class="intro-body ">
            <div class="container " >
                {% block content %}{% endblock content %}
    </div>
    </div>
    </section>

    <script src="/../static/js/jquery-1.10.2.js"></script>

    <script src="/../static/js/jquery.easing.min.js"></script>
    <script src="/../static/js/grayscale.js"></script>

    <script type="text/javascript">

    $(".navbar-toggle").click(function(){
        if($(".collapse").css("display") === "none"){
            $(".collapse").slideDown();
        }else
            $(".collapse").slideUp();
    });

    $(function () {
      var nua = navigator.userAgent
      var isAndroid = (nua.indexOf('Mozilla/5.0') > -1 && nua.indexOf('Android ') > -1 && nua.indexOf('AppleWebKit') > -1 && nua.indexOf('Chrome') === -1)
      if (isAndroid) {
        $('select.form-control').removeClass('form-control').css('width', '100%')
      }
    }) 

    // Copyright 2014-2015 Twitter, Inc.
    // Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
    if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
      var msViewportStyle = document.createElement('style')
      msViewportStyle.appendChild(
        document.createTextNode(
          '@-ms-viewport{width:auto!important}'
        )
      )
      document.querySelector('head').appendChild(msViewportStyle)
    }

    </script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-49969090-3', 'auto');
      ga('send', 'pageview');

    </script>
    <!--<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true"></script>
    <script src="/../static/js/map.js"></script>-->

    {% block extra_bottom %}{% endblock extra_bottom %}
</body>

</html>
