{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta name = "description" content="Find the nearest tire place from your location in Puerto Rico | Encuentra las gomeras mas cercanas a ti, si se te exploto una goma esta aplicacion te ayuda a encontrar la gomera mas cercana en Puerto Rico">    <meta name="author" content="">

    <meta name="keywords" content="geo,tire,geo-tire,tires,flat tire, nearest tire place, Puerto Rico,puerto rico, tire places, flat tires,car">

    <meta name="Robots" content="index">
    <title>Real Empire Studio | Academia de Baile | {% block title %}{% endblock title %}</title>

    <!-- Bootstrap Core CSS -->
     <link rel="shortcut icon" href="">
    <!-- Fonts -->
    <link href="/static/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Jura' rel='stylesheet' type='text/css'>
    <!-- Custom Theme CSS -->
    <link href="/static/css/grayscale.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/geo_tire.css">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/landing.css' %}">
</head>


<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    {% block header %}

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
                <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <img id="real-empire-image-mobile" src="{% static "img/realempire2.png" %}" alt="" />
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse"> 
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>
                        <li class="page-scroll">
                            <a href="{% url 'landing' %}">Pagina Principal</a>
                        </li>
                        <li class="page-scroll">
                            <a href="{% url 'class' %}">Clases y Maestros</a>
                        </li>
                          <li class="page-scroll">
                            <a href="{% url 'price' %}">Precios</a>
                        </li>
                        <li class="page-scroll">
                            <a href="{% url 'contact' %}">Contactanos</a>
                        </li>

                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
    {% endblock header %}
    <section class="intro" >
        <div class="intro-body ">
            <div class="container " >
                {% block content %}{% endblock content %}
    </div>
    </div>
    </section>

    <script src="/../static/js/jquery-1.10.2.js"></script>

    <script src="/../static/js/jquery.easing.min.js"></script>
    <script src="/../static/js/grayscale.js"></script>

    <script type="text/javascript">

    $(".navbar-toggle").click(function(){
        if($(".collapse").css("display") === "none"){
            $(".collapse").slideDown();
        }else
            $(".collapse").slideUp();
    });
    </script>
    <!--<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true"></script>
    <script src="/../static/js/map.js"></script>-->

    {% block extra_bottom %}{% endblock extra_bottom %}
</body>

</html>
