{% extends "base.html" %}
{% load static %}

{% block title %}
	Clases
{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2" id="first-container">
            <!-- <h3 class="brand-heading">Real Empire Studio</h3> -->
            <img id="real-empire-image" src="{% static "img/realempire2.png" %}" alt="" />

            <h2 class="intro-text">Clases</u></h2>

                        <div class="teachers-box">

            <div class="col-xs-12 col-sm-4">
                <img src="{% static 'img/jaykob.jpg' %}" alt="Tatiana Maestra | Real Empire Studio" class="img-responsive img-circle">
                <h5 style="font-family: 'Jura', sans-serif;"><span>Maestro: </span>Jefniel Estrada</h5>
                <h5 style="font-family: 'Jura', sans-serif;"><span>Clase: </span>Swagg ó Krump</h5>
              </div>
              </div>

            <div class="teachers-box">

               <div class="col-xs-12 col-sm-4">
                <img src="{% static 'img/tatiana2.jpg' %}" alt="Tatiana Maestra | Real Empire Studio" class="img-responsive img-circle">
                <h5 style="font-family: 'Jura', sans-serif;"><span>Maestro: </span>Tatiana Perez</h5>
                <h5 style="font-family: 'Jura', sans-serif;"><span>Clase: </span>Hip hop kids</h5>
              </div>
              </div>

               <div class="col-xs-12 col-sm-4">
                <img src="{% static 'img/victorreyes.jpg' %}" alt="Tatiana Maestra | Real Empire Studio" class="img-responsive img-circle">
                <h5 style="font-family: 'Jura', sans-serif;"><span>Maestro: </span>Victor Reyes</h5>
                <h5 style="font-family: 'Jura', sans-serif;"><span>Clase: </span>Master Class</h5>
              </div>
              </div>

            <div class="teachers-box">
              <div class="col-xs-12 col-sm-4">
                <img src="{% static 'img/natalie.jpg' %}" alt="Tatiana Maestra | Real Empire Studio" class="img-responsive img-circle">
                <h5 style="font-family: 'Jura', sans-serif;"><span>Maestro: </span>Natalie Martinez Cabrera</h5>
                <h5 style="font-family: 'Jura', sans-serif;"><span>Clase: </span>Master class</h5>
              </div>

           

              <div class="col-xs-12 col-sm-4">
                <img src="{% static 'img/luis_vazques.jpg' %}" alt="Tatiana Maestra | Real Empire Studio" class="img-responsive img-circle">
                <h5 style="font-family: 'Jura', sans-serif;"><span>Maestro: </span>Luis Vazquez K-Two</h5>
                <h5 style="font-family: 'Jura', sans-serif;"><span>Clase: </span>Breakdance</h5>
              </div>

             <!--  <div class="col-xs-12 col-sm-4">
                <img src="{% static 'img/' %}" alt="Tatiana Maestra | Real Empire Studio" class="img-responsive img-circle">
                <h5 style="font-family: 'Jura', sans-serif;"><span>Maestro: </span>David J. Rosario Febus</h5>
                <h5 style="font-family: 'Jura', sans-serif;"><span>Clase: </span>HipHop Master class</h5>
              </div> -->

             <!--  <div class="col-xs-12 col-sm-4">
                <img src="{% static 'img/' %}" alt="Tatiana Maestra | Real Empire Studio" class="img-responsive img-circle">
                <h5 style="font-family: 'Jura', sans-serif;"><span>Maestro: </span>Alexis Lexiko Diaz</h5>
                <h5 style="font-family: 'Jura', sans-serif;"><span>Clase: </span>Commercial Class (open level)</h5>
              </div> -->

             <!--  <div class="col-xs-12 col-sm-4">
                <img src="{% static 'img/' %}" alt="Tatiana Maestra | Real Empire Studio" class="img-responsive img-circle">
                <h4 style="font-family: 'Jura', sans-serif;"><span>Maestro: </span>Jefniel Estrada</h4>
                <h5 style="font-family: 'Jura', sans-serif;"><span>Clase: </span>Master class (krump/Swagg)</h5>
              </div> -->

              <div class="col-xs-12 col-sm-4">
                <img src="{% static 'img/felipe.jpg' %}" alt="Tatiana Maestra | Real Empire Studio" class="img-responsive img-circle">
                <h5 style="font-family: 'Jura', sans-serif;"><span>Maestro: </span>Lee Melendez</h5>
                <h5 style="font-family: 'Jura', sans-serif;"><span>Clase: </span>Commercial class 2 (open level)</h5>
              </div>


             

              <!-- <div class="col-xs-12 col-sm-4">
                <img src="{% static 'img/' %}" alt="Tatiana Maestra | Real Empire Studio" class="img-responsive img-circle">
                <h5 style="font-family: 'Jura', sans-serif;"><span>Maestro: </span>Jerry Adiel Diaz Sanchez</h5>
                <h5 style="font-family: 'Jura', sans-serif;"><span>Clase: </span>Unique Class (15 años en adelante).</h5>
              </div> -->
<!-- 
							<div class="col-xs-12 col-sm-4">
                <img src="{% static 'img/' %}" alt="Tatiana Maestra | Real Empire Studio" class="img-responsive img-circle">
                <h5 style="font-family: 'Jura', sans-serif;"><span>Maestro: </span>Carlos A. Sánchez Falú</h5>
                <h5 style="font-family: 'Jura', sans-serif;"><span>Clase: </span>Girly Hip Hop. (13 años en adelante)</h5>
              </div>

							<div class="col-xs-12 col-sm-4">
                <img src="{% static 'img/' %}" alt="Tatiana Maestra | Real Empire Studio" class="img-responsive img-circle">
                <h5 style="font-family: 'Jura', sans-serif;"><span>Maestros: </span>Lilybeth Rodriguez / Tatiana Voltex</h5>
                <h5 style="font-family: 'Jura', sans-serif;"><span>Clase: </span>Hip Hop Kids (6 a 12 años)</h5>
              </div>
 -->
							<div class="col-xs-12 col-sm-4">
								<img src="{% static 'img/alexrivera.jpg' %}" alt="Tatiana Maestra | Real Empire Studio" class="img-responsive img-circle">
								<h5 style="font-family: 'Jura', sans-serif;"><span>Maestros: </span>Alex Rivera </h5>
								<h5 style="font-family: 'Jura', sans-serif;"><span>Clase: </span>Funk Master Class</h5>
							</div>
            </div>

             <header>
            <!-- HEADLINE -->
            </header>

            <p></p>


        </div>
    </div>
{% endblock content %}
