{% extends "base.html" %}
{% load static %}

{% block title %}
	Clases
{% endblock title %}

{% block meta_description %}
  <meta name="description" content="Horarios, clases y maestros que ofrece la Academia de baile Real Empire Studio Puerto Rico Bayamón, esta academia cuenta con maestros y coreógrafos especializados en diferentes estilos.">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2" id="first-container">
            <!-- <h3 class="brand-heading">Real Empire Studio</h3> -->
            <img id="real-empire-image" src="{% static "img/realempire2.png" %}" alt="" />

            <h2 class="intro-text">Clases</h2>

            <div class="container">
                <div class="row">
                    <div id="no-more-tables">
                        <table class="col-md-8 table-bordered table-striped table-condensed cf">
                        <thead class="cf">
                          <tr>
                            <th></th>
                            <th>Lunes</th>
                            <th class="numeric">Martes</th>
                            <th class="numeric">Miercoles</th>
                            <th class="numeric">Jueves</th>
                            <th class="numeric">Viernes</th>
                           
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td >6:00pm</td>
                            <td data-title="Lunes">Hip Hop Kids <br>(7-12 años) <br>Tatiana Perez</td>
                            <td data-title="Martes" class="numeric"> <br></td>
                            <td data-title="Miercoles" class="numeric">To be Anounced</td>
                            <td data-title="Jueves"  class="numeric">Unique Class <br><br>Jerry Diaz</td>
                            <td data-title="Viernes"  class="numeric">To be Anounced</td>
                          </tr>
                          <tr>
                           <td >7:00pm</td>
                            <td data-title="Lunes">Master Swagg Class <br> <br>Jefniel Estrada</td>
                            <td data-title="Martes" class="numeric"> Commercial (int.)<br> Lee Melendez</td>
                            <td data-title="Miercoles" class="numeric">Principiante <br><br>Jefniel Estrada </td>
                            <td data-title="Jueves"  class="numeric">Breakdance <br> Luis Vazquez <br> K-two</td>
                            <td data-title="Viernes"  class="numeric">Krump Class <br><br>Jefniel Estrada </td>
                          </tr>
                          <tr>
                           <td >8:00pm</td>
                            <td data-title="Lunes">Master Class <br><br> Natalie Martinez</td>
                            <td data-title="Martes" class="numeric"> Funk Master Class<br>Alex Rivera</td>
                            <td data-title="Miercoles" class="numeric">Master Class <br><br> Victor Reyes </td>
                            <td data-title="Jueves"  class="numeric">Jazz Class <br><br> Angely Holguin</td>
                            <td data-title="Viernes"  class="numeric">Master Class <br><br> Surprise Teacher</td>
                          </tr>
                          <tr>
                            <td >9:00pm</td>
                            <td data-title="Lunes"><br></td>
                            <td data-title="Martes" class="numeric"> Master Hiphop Class <br> David Rosario</td>
                            <td data-title="Miercoles" class="numeric"><u>Entrenamiento R.E.F</u></td>
                            <td data-title="Jueves"  class="numeric"><br></td>
                            <td data-title="Viernes"  class="numeric"><u>Entrenamiento R.E.F</u></td>
                          </tr>
                          <tr>
                            <td colspan="6">Sabado</td>
                          </tr>
                          <tr>
                            <td  >11:00am</td>
                            <td colspan="2" data-title="Sabado">Lil' Hiphop (4-6 años)</td>
                            <td colspan="3" data-title="Maestra">Tatiana Perez</td>

                          </tr>
                             <tr>
                            <td  >12:00am</td>
                            <td colspan="2" data-title="Sabado">Hip hop kids (7-12 años)</td>
                            <td colspan="3" data-title="Maestra">Lilybeth Rodriguez</td>

                          </tr>
                             <tr>
                            <td  >1:00am</td>
                            <td colspan="2" data-title="Sabado">Comercial (int)</td>
                            <td colspan="3" data-title="Maestro">Alexis Diaz</td>

                          </tr>
                             <tr>
                            <td  >2:00am</td>
                            <td colspan="2" data-title="Sabado">Master Class Swagg</td>
                            <td colspan="3" data-title="Maestro">Jefniel Estrada</td>

                          </tr>
                             <tr>
                            <td  >3:00am</td>
                            <td colspan="2" data-title="Sabado">Principiante</td>
                            <td colspan="3" data-title="Sabado">Jefniel Estrada</td>

                          </tr>
                          </tr>
                             <tr>
                            <td  >4:00am</td>
                            <td colspan="2" data-title="Sabado">Girly hip hop</td>
                            <td colspan="3" data-title="Sabado">Carlos Sanchez</td>
                          </tr>
                          </tr>
                             <tr>
                            <td  >4:00am</td>
                            <td colspan="5" data-title="Sabado">To be Anounced</td>
                          </tr>
                        </tbody>
                      </table>

                    </div>
                </div>
            </div>
            <br>

            <h2 class="intro-text">Maestros</h2>

            <div class="row">
              <div class="col-xs-12 col-sm-4">
                <img src="{% static 'img/jaykob.jpg' %}" alt="Tatiana Maestra | Real Empire Studio" class="img-responsive img-circle">
                <h5 style="font-family: 'Jura', sans-serif;"><span>Maestro: </span>Jefniel Estrada</h5>
                <h5 style="font-family: 'Jura', sans-serif;"><span>Clase: </span>Hiphop principiante, Swagg style ó Krump</h5>
              </div>

               <div class="col-xs-12 col-sm-4">
                <img src="{% static 'img/tatiana2.jpg' %}" alt="Tatiana Maestra | Real Empire Studio" class="img-responsive img-circle">
                <h5 style="font-family: 'Jura', sans-serif;"><span>Maestro: </span>Tatiana Perez</h5>
                <h5 style="font-family: 'Jura', sans-serif;"><span>Clase: </span>Lil' hip hop (4-6 años) ó
                Hip hop kidz (7-12 años)</h5>
              </div>


              <div class="col-xs-12 col-sm-4">
                <img src="{% static 'img/victorreyes.jpg' %}" alt="Tatiana Maestra | Real Empire Studio" class="img-responsive img-circle">
                <h5 style="font-family: 'Jura', sans-serif;"><span>Maestro: </span>Victor Reyes</h5>
                <h5 style="font-family: 'Jura', sans-serif;"><span>Clase: </span>Master Class</h5>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-4">
                <img src="{% static 'img/natalie.jpg' %}" alt="Tatiana Maestra | Real Empire Studio" class="img-responsive img-circle">
                <h5 style="font-family: 'Jura', sans-serif;"><span>Maestro: </span>Natalie Martinezqu</h5>
                <h5 style="font-family: 'Jura', sans-serif;"><span>Clase: </span>Master class</h5>
              </div>

              <div class="col-xs-12 col-sm-4">
                <img src="{% static 'img/luis_vazques.jpg' %}" alt="Tatiana Maestra | Real Empire Studio" class="img-responsive img-circle">
                <h5 style="font-family: 'Jura', sans-serif;"><span>Maestro: </span>Luis Vazquez K-Two</h5>
                <h5 style="font-family: 'Jura', sans-serif;"><span>Clase: </span>Breakdance</h5>
              </div>


               <div class="col-xs-12 col-sm-4">
                <img src="{% static 'img/2.jpg' %}" alt="Tatiana Maestra | Real Empire Studio" class="img-responsive img-circle">
                <h5 style="font-family: 'Jura', sans-serif;"><span>Maestro: </span>Angely Holguin-Veras</h5>
								<h5 style="font-family: 'Jura', sans-serif;"><span>Clase: </span>JAZZ Class</h5>
							</div>
            </div>
            <div class="row">
             <div class="col-xs-12 col-sm-4">
                <img src="{% static 'img/david_rosario_small.jpg' %}" alt="Tatiana Maestra | Real Empire Studio" class="img-responsive img-circle">
                <h5 style="font-family: 'Jura', sans-serif;"><span>Maestro: </span>David Rosario</h5>
                <h5 style="font-family: 'Jura', sans-serif;"><span>Clase: </span>HipHop Master class</h5>
              </div>

              <div class="col-xs-12 col-sm-4">
                <img src="{% static 'img/4.jpg' %}" alt="Tatiana Maestra | Real Empire Studio" class="img-responsive img-circle">
                <h5 style="font-family: 'Jura', sans-serif;"><span>Maestro: </span>Lilybeth Rodriguez</h5>
                <h5 style="font-family: 'Jura', sans-serif;"><span>Clase: </span>Hip Hop Kids (Saturdays)</h5>
              </div>

              <div class="col-xs-12 col-sm-4">
                <img src="{% static 'img/5.jpg' %}" alt="Tatiana Maestra | Real Empire Studio" class="img-responsive img-circle">
                <h4 style="font-family: 'Jura', sans-serif;"><span>Maestro: </span>Carlos Sanchez</h4>
                <h5 style="font-family: 'Jura', sans-serif;"><span>Clase: </span>Girly Hip Hop Class</h5>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-4">
                <img src="{% static 'img/felipe.jpg' %}" alt="Tatiana Maestra | Real Empire Studio" class="img-responsive img-circle">
                <h5 style="font-family: 'Jura', sans-serif;"><span>Maestro: </span>Lee Melendez</h5>
                <h5 style="font-family: 'Jura', sans-serif;"><span>Clase: </span>Commercial class 2 (open level)</h5>
              </div>


              <div class="col-xs-12 col-sm-4">
                <img src="{% static 'img/johnvillamar.jpg' %}" alt="Tatiana Maestra | Real Empire Studio" class="img-responsive img-circle">
                <h5 style="font-family: 'Jura', sans-serif;"><span>Maestro: </span>John Villamar (Playero)</h5>
                <h5 style="font-family: 'Jura', sans-serif;"><span>Clase: </span>Pop n Flow</h5>
              </div>

							<div class="col-xs-12 col-sm-4">
								<img src="{% static 'img/alexrivera.jpg' %}" alt="Tatiana Maestra | Real Empire Studio" class="img-responsive img-circle">
								<h5 style="font-family: 'Jura', sans-serif;"><span>Maestros: </span>Alex Rivera </h5>
								<h5 style="font-family: 'Jura', sans-serif;"><span>Clase: </span>Funk Master Class</h5>
							</div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-4 col-sm-offset-4">
                <img src="{% static 'img/6.jpg' %}" alt="Tatiana Maestra | Real Empire Studio" class="img-responsive img-circle">
                <h5 style="font-family: 'Jura', sans-serif;"><span>Maestros: </span>Alexis Diaz "Lexiko" </h5>
                <h5 style="font-family: 'Jura', sans-serif;"><span>Clase: </span>Comercial Class 1</h5>
              </div>
            </div>
          </div>
        </div>
    </div>
{% endblock content %}
