{% extends "base.html" %}
{% load static %}

{% block title %}
  | Contactanos
{% endblock title %}

{% block meta_description %}
  <meta name="description" content="Contactanos para darte mas informacion sobre nuestras ofertas y estilos de baile que ofrece la Academia de baile Real Empire Studio en PR localizado en Bayamón.">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-10 col-md-offset-1" id="first-container">
            <!-- <h3 class="brand-heading">Real Empire Studio</h3> -->
            <img id="real-empire-image" src="{% static "img/realempire2.png" %}" alt="Real-Empire-Studio-Logo" />

            <h2 class="intro-text">Contactanos</u></h2>


            <div class="map-contact-box">
                <div class="col-xs-12 col-sm-7">
                  <h1 style="font-family: 'Jura', sans-serif;">Localización</h1>
                    <div style="margin: 0px;" id="map"></div>
                </div>

                <div  class="col-xs-12 col-sm-5">
                  <h1 style="font-family: 'Jura', sans-serif;text-align: center;margin-left: 0px;margin-top: 20px;">Online</h1>
                  <div class=".col-sm-3">
                    <div class="social-media  col-sm-6">
                        
              
                        <a  href="https://www.facebook.com/real.empire.739?fref=ts"><i class="fa fa-facebook social"></i></a>
                        <h3 style="font-family: 'Jura', sans-serif;">Facebook</h3>
                                             </div>
                    <div class="social-media col-sm-6">

                        <a href="https://twitter.com/Realempire_pr?lang=en"><i class="fa fa-twitter social"></i></a>
                        <h3 style="font-family: 'Jura', sans-serif;">Twitter</h3>
                                                                     </div>

                  </div>

                  <div class=".col-sm-3">

                    <div class="social-media  col-sm-6">
                        
              
                        <a  href="https://instagram.com/realempirestudio/"><i class="fa fa-instagram social"></i></a>
                    <h3 style="font-family: 'Jura', sans-serif;">Instagram</h3>
                                             </div>
                    <div class="social-media col-sm-6">

                         <a  href="tel:7879404981"><i class="fa fa-phone social"></i></a>
                        <h4 class="contact-phone" style="font-family: 'Jura', sans-serif;">(787) 940-4981</h4>
                                                                         </div>

                  </div>
                 </div>

                <div class="col-xs-12 col-sm-5">
                     <form action="{% url 'landing' %}" method="post">
                        {% csrf_token %}
                      <div class="input-group">
                         <input class="text-box" name="email" id="email" type="email" placeholder="Your Email" required>
                         <button id="subscribe-btn" class="btn btn-info btn-lg font-subscribe"  type="submit">Subscribete</button>
                      </div>
                     </form>
                </div>
            </div>

        </div>
    </div>
{% endblock content %}


{% block extra_bottom %}
    <script type="text/javascript">
        function initMap() {
            var myLatLng = {lat: 18.415991, lng: -66.162384};

            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 14,
                center: myLatLng
            });

            var image = '/static/img/empire.png';

            var beachMarker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                icon: image,
            });

            var contentString = "<div style='color: black;'> <h4>Real Empire Studio</h4>"
                                + "<table>"
                                + "<!--<tr><th>Dirección:</th><td></td></tr>-->"
                                + "<tr><th>Teléfono:<th><td>787-631-0059</td></tr>"
                                + "<tr><th>Email:<th><td>jefnielestrada@gmail.com</td></tr>"
                                + "</table>"
                                + "</div>"

            var infowindow = new google.maps.InfoWindow({
                content: contentString,
            });


            google.maps.event.addListener(beachMarker, 'click', function() {
               infowindow.open(map,beachMarker);
            });
            infowindow.open(map,beachMarker);

            $("#map").click(function(){
            // If it's an iPhone..
            if( (navigator.platform.indexOf("iPhone") != -1) 
                || (navigator.platform.indexOf("iPod") != -1)
                || (navigator.platform.indexOf("iPad") != -1))
                 window.open("maps://maps.google.com/maps?q=18.415991,-66.162384");
            else
                 window.open("http://maps.google.com/maps?q=18.415991,-66.162384");
        });
        }

        
    </script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAR5X_m6-TEdlCIi12DJH-5EUiFhtrD-Eg&callback=initMap">
    </script>
{% endblock extra_bottom %}
