{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}
  | {% blocktrans %}Contáctanos{% endblocktrans %}
{% endblock title %}

{% block meta_description %}
  <meta name="description" content="Contactanos para darte mas informacion sobre nuestras ofertas y estilos de baile que ofrece Real Empire Studio.">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-10 col-md-offset-1" id="first-container">
            <h1>{% blocktrans %}Contact US{% endblocktrans %}</h1>

            <div class="map-contact-box">
                <div class="col-xs-12 col-sm-7">
                  <h1 style="font-family: 'Jura', sans-serif;">{% blocktrans %}Localización{% endblocktrans %}</h1>
                    <div style="margin: 0px;" id="map"></div>
                </div>

                <div  class="col-xs-12 col-sm-5">
                  <h1 style="font-family: 'Jura', sans-serif;text-align: center;margin-left: 0px;margin-top: 20px;">{% blocktrans %}Online{% endblocktrans %}</h1>
                  <div class=".col-sm-3">
                    <div class="social-media  col-sm-6">


                        <a  href="https://www.facebook.com/real.empire.739?fref=ts" target="_blank"><i class="fa fa-facebook social"></i></a>
                        <h3 style="font-family: 'Jura', sans-serif;">Facebook</h3>
                                             </div>
                    <div class="social-media col-sm-6">

                        <a href="https://twitter.com/Realempire_pr?lang=en" target="_blank"><i class="fa fa-twitter social"></i></a>
                        <h3 style="font-family: 'Jura', sans-serif;">Twitter</h3>
                    </div>

                  </div>

                  <div class=".col-sm-3">

                    <div class="social-media  col-sm-6">


                        <a  href="https://instagram.com/realempirestudio/" target="_blank"><i class="fa fa-instagram social"></i></a>
                    <h3 style="font-family: 'Jura', sans-serif;">Instagram</h3>
                                             </div>
                    <div class="social-media col-sm-6">

                         <a  href="tel:7879404981"><i class="fa fa-phone social"></i></a>
                        <h4 class="contact-phone" style="font-family: 'Jura', sans-serif;">(787) 940-4981</h4>
                    </div>
                  </div>
                 </div>

                 <div class="col-xs-12 col-sm-5">
                   <p><small><strong>{% blocktrans %}Dirección{% endblocktrans %}: </strong> Calle 25 Blq DD-17 local 202 Riverview  Bayamon PR 00961</p></small>
                 </div>

                <div class="col-xs-12 col-sm-5">
                     <form action="{% url 'landing:landing_page' %}" method="post">
                        {% csrf_token %}
                      <div class="input-group">
                         <input class="text-box" name="email" id="email" type="email" placeholder="{% trans 'Tu Email' %}" required>
                         <button id="subscribe-btn" class="btn btn-info btn-lg font-subscribe btn-landing"  type="submit">{% blocktrans %}Subscribete{% endblocktrans %}</button>
                      </div>
                     </form>
                </div>
            </div>

        </div>
    </div>
{% endblock content %}


{% block extra_bottom %}
    <script type="text/javascript" src="{% static 'js/google-map.min.js' %}"></script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAR5X_m6-TEdlCIi12DJH-5EUiFhtrD-Eg&callback=initMap">
    </script>
{% endblock extra_bottom %}
