{% extends "base.html" %}
{% load static %}

{% block meta_description %}
     <meta name="description" content="Academia de baile que cuenta con maestros y coreógrafos especializados en diferentes estilos.">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2" id="first-container" style="padding-top: 70px;">
            <!-- <h3 class="brand-heading">Real Empire Studio</h3> -->
            <img id="real-empire-image" src="{% static "img/realempire2.png" %}" alt="Real-Empire-Studio-Logo" />
            <p class="intro-text">Pagina Principal de la Academia de baile Real Empire Studio, acedemia que cuenta con maestros y coreógrafos especializados en diferentes estilos.</u></p>

            <!-- END TIMER -->
                <div class="text-center row">
                    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" type="text/html" src="https://www.youtube.com/embed/awQ_N23JbFM"></iframe>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <form action="{% url 'landing:landing_page' %}" method="post">
                            {% csrf_token %}
                            <div class="input-group">
                                <input class="text-box" name="email" id="email" type="email" placeholder="Your Email" required>
                                <button id="subscribe-btn" class="btn btn-info btn-lg"  type="submit">Subscribete</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div id="social-media">
                    <a href="https://www.facebook.com/real.empire.739?fref=ts"><i class="fa fa-facebook social"></i></a>
                    <a href="https://twitter.com/Realempire_pr?lang=en"><i class="fa fa-twitter social"></i></a>
                    <a href="https://instagram.com/realempirestudio/"><i class="fa fa-instagram social"></i></a>
                </div>
            </div>

           <!--  <div class="page-scroll">
                <a  id = 'arrow'href="#about" class="btn btn-circle">
                    <i class="fa fa-angle-double-down animated"></i>
                </a>
            </div> -->
        </div>
    </div>
    <br/>
    <br/>
{% endblock content %}

{% block extra_bottom %}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
{% endblock %}
