{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}
  | {% blocktrans %}Home Page{% endblocktrans %}
{% endblock title %}

{% block meta_description %}
     <meta name="description" content="Academia de baile que cuenta con maestros y coreógrafos especializados en diferentes estilos.">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 col-md-offset-2" id="first-container" style="padding-top: 70px;">
        <h1 class="intro-text">
                <h1 class="intro-text">{% blocktrans %}Pagina Principal de la Academia de baile Real Empire Studio, academia que cuenta con maestros y coreógrafos especializados en diferentes estilos.{% endblocktrans %}</h1>

                <div class="text-center row">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/awQ_N23JbFM?rel=0&html5=true" allowfullscreen></iframe>
                    </div>
                    <div class="col-md-12">
                        <form action="{% url 'landing:landing_page' %}" method="post">
                            {% csrf_token %}
                            <div class="input-group">
                                <input class="text-box" name="email" id="email" type="email" placeholder="{% trans 'Tu Email' %}" required>
                                <button id="subscribe-btn" class="btn btn-info btn-lg btn-landing"  type="submit">{% trans "Subscribete" %}</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div id="social-media">
                    <a href="https://www.facebook.com/real.empire.739?fref=ts"><i class="fa fa-facebook social"></i></a>
                    <a href="https://twitter.com/Realempire_pr?lang=en"><i class="fa fa-twitter social"></i></a>
                    <a href="https://instagram.com/realempirestudio/"><i class="fa fa-instagram social"></i></a>
                </div>
            </div>

           <!--  <div class="page-scroll">
                <a  id = 'arrow'href="#about" class="btn btn-circle">
                    <i class="fa fa-angle-double-down animated"></i>
                </a>
            </div> -->
        </div>
    </div>
    <br/>
    <br/>
{% endblock content %}

{% block extra_bottom %}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
{% endblock %}
