{% extends "base.html" %}
{% load static %}

{% block title %}
    Precios
{% endblock title %}

{% block content %}

        <div class="row">
            <div class="col-md-8 col-md-offset-2" id="first-container">
                <!-- <h3 class="brand-heading">Real Empire Studio</h3> -->
                <img id="real-empire-image" src="{% static "img/realempire2.png" %}" alt="" />

                    <h2 class="intro-text">Precios</u></h2>


<p>
REAL EMPIRE STUDIO<br> Grand Apertura! 10 de octubre DANCE ALL DAY.!!!<br>
</p>


<div class="row">
  <div class="col-md-6">
    <div class="class-text">

    <h2>Hola, soy Jefniel Estrada Director de Esta Nueva Academia de baile Real Empire Studios.
    Estamos en la Ave. Comerío, Bayamon P.R. (al lado de Tuty Covers), entre Parque de las Ciencias y el expreso 22.</h2>
    <h2>Tenemos excelentes Maestros e Coreografos de alto rango y también Maestros con gran experiencias. Tenemos clases para Niños, jóvenes y adultos.</h2>
    <h2>Hip Hop para niños, Hip Hop varsity/adults, Commercial, Krumping, New School Hip hop, Girly Funk, Ragga Jam, Salsa, Jazz, zumba, entre otros... comenzando desde las 11am y culminando a las 6pm.</h2>
    <h2>Tenemos la super oferta de "Class all Day".
    Esta consiste de todas las clases que se ofrecerá en la apertura de Real Empire Studios por el costo de $35.00 dólares - esta oferta es solo para jóvenes y adultos de 13 años en adelante.</h2>
     <h2>Niños de 6 años a 12 años son completamente *Gratis*.</h2>

  </div>
  </div>
  <div class="col-md-6">
    <div class="price-text">

    <h1>Matrícula anual<br>
    • $40 (Niños de 6 anos a 12 años)
    • $50 ( jóvenes/Adultos de 13 años en adelante)</h1>

      <h1>Clases Regulares<br>
    • $12.00 dólares c/u<br>
    • ($10.00 dólares c/u *debe estar Matriculado)<br>
      Paquetes de clases: (al mes)<br>
      • 4 clases - $35.00<br>
      • 9 clases - $75.00<br>
      • 12 clases - $100. Pagas al costo de 10 clases (*Tienes 2 clases gratis).<br>
      • 16 clases - $120. Pagas al costo de 12 clases (*Tienes 4 clases gratis).<br>
      (Todos los paquetes son solo con Matrícula.)</h1>
    <h1>Horarios:<br>
    • Lunes a viernes (6pm a 10:30pm)<br>
    • Sábados (11am a 5pm)<br>
      VEN Y DISFRUTA de la GRAN APERTURA de REAL EMPIRE STUDIO
      el 10 de Octubre de 2015. NO TE LO PUEDES PERDER. Los esperamos.
      ***Habrá AFTER PARTY DANCERS GET TOGETHER de 8pm a 1am.</h1>
      <h1>Para más información: 787-631-0059 o jefnielestrada@gmail.com</h1>

  </div>
  </div>
</div>








                       <!--  <div class="page-scroll">
                            <a  id = 'arrow'href="#about" class="btn btn-circle">
                                <i class="fa fa-angle-double-down animated"></i>
                            </a>
                        </div> -->
                    </div>
                </div>

{% endblock content %}
