{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}
	| {% blocktrans %}Subscribete{% endblocktrans %}
{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2" id="first-container">
              <br><br>
            <p class="intro-text">{% blocktrans %}Gracias por subscribirse! Lo matendremos informado sobre todo tipo de clases, maestros y eventos de nuestra academia.{% endblocktrans %}</p>
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>

{% endblock content %}

{% block extra_bottom %}
    <script type="text/javascript" src="{% static 'js/landing/custom.js'%}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
{% endblock %}
