{% extends "base.html" %}
{% load static %}

{% block title %}
	| Subscribe
{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2" id="first-container">
            <!-- <h3 class="brand-heading">Real Empire Studio</h3> -->
            <img id="real-empire-image" src="{% static "img/realempire2.png" %}" alt="Real-Empire-Studio-Logo" />
              <br><br>
            <p class="intro-text">Gracias por subscribirse! Lo matendremos informado sobre todo tipo de clases, maestros y eventos de nuestra academia.</p>
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>

{% endblock content %}

{% block extra_bottom %}
    <script type="text/javascript" src="{% static 'js/landing/custom.js'%}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
{% endblock %}
